# GENERATED FILE. DO NOT EDIT BY HAND.
# Regenerate with: yarn workspace @mark/admin generate:openapi
openapi: 3.1.0
info:
  title: Mark Admin API
  version: 1.0.0
  description: Mark Admin API schema (auto-generated from Zod schemas).
  contact:
    name: Everclear Team
servers:
  - url: https://admin.api.everclear.org
    description: Production server
security:
  - AdminToken: []
tags:
  - name: Purchase Operations
    description: Endpoints for managing purchase cache operations
  - name: Rebalance Operations
    description: Endpoints for managing rebalance operations and state
  - name: Earmarks
    description: Endpoints for managing earmarks and related operations
  - name: Trigger Operations
    description: Endpoints for manually triggering operations (send, rebalance,
      intent, swap)
components:
  securitySchemes:
    AdminToken:
      type: apiKey
      in: header
      name: x-admin-token
      description: Admin token required for all admin endpoints.
  schemas:
    SuccessResponse:
      description: Generic success response
      type: object
      properties:
        message:
          type: string
      required:
        - message
      additionalProperties: false
    ErrorResponse:
      description: Generic error response
      type: object
      properties:
        message:
          description: Human-readable error message
          type: string
        error:
          description: Optional error details
          anyOf:
            - type: string
            - type: object
              propertyNames:
                type: string
              additionalProperties: {}
      required:
        - message
      additionalProperties: {}
    ForbiddenResponse:
      description: Forbidden response
      type: object
      properties:
        message:
          type: string
        recipient:
          type: string
      required:
        - message
      additionalProperties: {}
paths:
  /pause/purchase:
    post:
      tags:
        - Purchase Operations
      summary: Pause purchase operations
      description: Pauses all purchase cache operations.
      operationId: pausePurchase
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                description: Generic success response
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
                additionalProperties: false
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /unpause/purchase:
    post:
      tags:
        - Purchase Operations
      summary: Unpause purchase operations
      description: Resumes paused purchase cache operations.
      operationId: unpausePurchase
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                description: Generic success response
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
                additionalProperties: false
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /pause/rebalance:
    post:
      tags:
        - Rebalance Operations
      summary: Pause rebalance operations
      description: Pauses all rebalance operations.
      operationId: pauseRebalance
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                description: Generic success response
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
                additionalProperties: false
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /unpause/rebalance:
    post:
      tags:
        - Rebalance Operations
      summary: Unpause rebalance operations
      description: Resumes paused rebalance operations.
      operationId: unpauseRebalance
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                description: Generic success response
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
                additionalProperties: false
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /pause/ondemand-rebalance:
    post:
      tags:
        - Rebalance Operations
      summary: Pause on-demand rebalance operations
      description: Pauses on-demand rebalance operations.
      operationId: pauseOnDemandRebalance
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                description: Generic success response
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
                additionalProperties: false
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /unpause/ondemand-rebalance:
    post:
      tags:
        - Rebalance Operations
      summary: Unpause on-demand rebalance operations
      description: Resumes paused on-demand rebalance operations.
      operationId: unpauseOnDemandRebalance
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                description: Generic success response
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
                additionalProperties: false
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /rebalance/earmarks:
    get:
      tags:
        - Earmarks
      summary: List earmarks
      description: Retrieve a paginated list of earmarks with optional filtering. Each
        earmark includes a nested array of its associated operations.
      operationId: getEarmarks
      parameters:
        - name: limit
          in: query
          required: true
          schema:
            default: "50"
            type: string
            pattern: ^\d+$
        - name: offset
          in: query
          required: true
          schema:
            default: "0"
            type: string
            pattern: ^\d+$
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - pending
              - ready
              - completed
              - cancelled
              - failed
              - expired
        - name: chainId
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d+$
        - name: invoiceId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  earmarks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                        invoiceId:
                          type: string
                        designatedPurchaseChain:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        tickerHash:
                          type: string
                        minAmount:
                          description: Amount (18-decimals string)
                          type: string
                        status:
                          type: string
                          enum:
                            - pending
                            - ready
                            - completed
                            - cancelled
                            - failed
                            - expired
                        createdAt:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        updatedAt:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        operations:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                              status:
                                type: string
                                enum:
                                  - pending
                                  - awaiting_callback
                                  - completed
                                  - expired
                                  - cancelled
                              originChainId:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              destinationChainId:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              tickerHash:
                                type: string
                              amount:
                                type: string
                              slippage:
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              bridge:
                                anyOf:
                                  - type: string
                                  - type: "null"
                              recipient:
                                anyOf:
                                  - type: string
                                  - type: "null"
                              isOrphaned:
                                type: boolean
                              createdAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              updatedAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                              - id
                              - status
                              - originChainId
                              - destinationChainId
                              - tickerHash
                              - amount
                              - slippage
                              - bridge
                              - recipient
                              - createdAt
                              - updatedAt
                            additionalProperties: {}
                      required:
                        - id
                        - invoiceId
                        - designatedPurchaseChain
                        - tickerHash
                        - minAmount
                        - status
                        - createdAt
                        - updatedAt
                      additionalProperties: false
                  total:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                required:
                  - earmarks
                  - total
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /rebalance/earmark/{id}:
    get:
      tags:
        - Earmarks
      summary: Get earmark details
      description: Retrieve detailed information about a specific earmark including
        its operations.
      operationId: getEarmarkDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  earmark:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                      invoiceId:
                        type: string
                      designatedPurchaseChain:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      tickerHash:
                        type: string
                      minAmount:
                        description: Amount (18-decimals string)
                        type: string
                      status:
                        type: string
                        enum:
                          - pending
                          - ready
                          - completed
                          - cancelled
                          - failed
                          - expired
                      createdAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      updatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    required:
                      - id
                      - invoiceId
                      - designatedPurchaseChain
                      - tickerHash
                      - minAmount
                      - status
                      - createdAt
                      - updatedAt
                    additionalProperties: false
                  operations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                        earmarkId:
                          anyOf:
                            - type: string
                              format: uuid
                              pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                            - type: "null"
                        originChainId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        destinationChainId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        tickerHash:
                          type: string
                        amount:
                          description: Amount (18-decimals string)
                          type: string
                        slippage:
                          description: Basis points
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        bridge:
                          anyOf:
                            - type: string
                            - type: "null"
                        status:
                          type: string
                          enum:
                            - pending
                            - awaiting_callback
                            - completed
                            - expired
                            - cancelled
                        recipient:
                          anyOf:
                            - type: string
                            - type: "null"
                        isOrphaned:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        updatedAt:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        transactions:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                              rebalanceOperationId:
                                anyOf:
                                  - type: string
                                    format: uuid
                                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                                  - type: "null"
                              transactionHash:
                                type: string
                              chainId:
                                type: string
                              cumulativeGasUsed:
                                type: string
                              effectiveGasPrice:
                                type: string
                              from:
                                type: string
                              to:
                                type: string
                              reason:
                                type: string
                              metadata:
                                type: object
                                propertyNames:
                                  type: string
                                additionalProperties: {}
                              createdAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              updatedAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                              - id
                              - transactionHash
                              - chainId
                              - cumulativeGasUsed
                              - effectiveGasPrice
                              - from
                              - to
                              - reason
                              - metadata
                              - createdAt
                              - updatedAt
                            additionalProperties: {}
                      required:
                        - id
                        - originChainId
                        - destinationChainId
                        - tickerHash
                        - amount
                        - slippage
                        - status
                        - createdAt
                        - updatedAt
                      additionalProperties: {}
                required:
                  - earmark
                  - operations
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /rebalance/operations:
    get:
      tags:
        - Rebalance Operations
      summary: List rebalance operations
      description: Retrieve a paginated list of rebalance operations with optional
        filtering.
      operationId: getRebalanceOperations
      parameters:
        - name: limit
          in: query
          required: true
          schema:
            default: "50"
            type: string
            pattern: ^\d+$
        - name: offset
          in: query
          required: true
          schema:
            default: "0"
            type: string
            pattern: ^\d+$
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - pending
              - awaiting_callback
              - completed
              - expired
              - cancelled
        - name: chainId
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d+$
        - name: earmarkId
          in: query
          required: false
          schema:
            anyOf:
              - type: string
                const: "null"
              - type: string
                format: uuid
                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
        - name: invoiceId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  operations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                        earmarkId:
                          anyOf:
                            - type: string
                              format: uuid
                              pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                            - type: "null"
                        originChainId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        destinationChainId:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        tickerHash:
                          type: string
                        amount:
                          description: Amount (18-decimals string)
                          type: string
                        slippage:
                          description: Basis points
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        bridge:
                          anyOf:
                            - type: string
                            - type: "null"
                        status:
                          type: string
                          enum:
                            - pending
                            - awaiting_callback
                            - completed
                            - expired
                            - cancelled
                        recipient:
                          anyOf:
                            - type: string
                            - type: "null"
                        isOrphaned:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        updatedAt:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        transactions:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                              rebalanceOperationId:
                                anyOf:
                                  - type: string
                                    format: uuid
                                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                                  - type: "null"
                              transactionHash:
                                type: string
                              chainId:
                                type: string
                              cumulativeGasUsed:
                                type: string
                              effectiveGasPrice:
                                type: string
                              from:
                                type: string
                              to:
                                type: string
                              reason:
                                type: string
                              metadata:
                                type: object
                                propertyNames:
                                  type: string
                                additionalProperties: {}
                              createdAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              updatedAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                              - id
                              - transactionHash
                              - chainId
                              - cumulativeGasUsed
                              - effectiveGasPrice
                              - from
                              - to
                              - reason
                              - metadata
                              - createdAt
                              - updatedAt
                            additionalProperties: {}
                      required:
                        - id
                        - originChainId
                        - destinationChainId
                        - tickerHash
                        - amount
                        - slippage
                        - status
                        - createdAt
                        - updatedAt
                      additionalProperties: {}
                  total:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                required:
                  - operations
                  - total
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /rebalance/operation/{id}:
    get:
      tags:
        - Rebalance Operations
      summary: Get rebalance operation details
      description: Retrieve a specific rebalance operation, including its transactions
        when available.
      operationId: getRebalanceOperationDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  operation:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                      earmarkId:
                        anyOf:
                          - type: string
                            format: uuid
                            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                          - type: "null"
                      originChainId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      destinationChainId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      tickerHash:
                        type: string
                      amount:
                        description: Amount (18-decimals string)
                        type: string
                      slippage:
                        description: Basis points
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      bridge:
                        anyOf:
                          - type: string
                          - type: "null"
                      status:
                        type: string
                        enum:
                          - pending
                          - awaiting_callback
                          - completed
                          - expired
                          - cancelled
                      recipient:
                        anyOf:
                          - type: string
                          - type: "null"
                      isOrphaned:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      updatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      transactions:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                            rebalanceOperationId:
                              anyOf:
                                - type: string
                                  format: uuid
                                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                                - type: "null"
                            transactionHash:
                              type: string
                            chainId:
                              type: string
                            cumulativeGasUsed:
                              type: string
                            effectiveGasPrice:
                              type: string
                            from:
                              type: string
                            to:
                              type: string
                            reason:
                              type: string
                            metadata:
                              type: object
                              propertyNames:
                                type: string
                              additionalProperties: {}
                            createdAt:
                              type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            updatedAt:
                              type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          required:
                            - id
                            - transactionHash
                            - chainId
                            - cumulativeGasUsed
                            - effectiveGasPrice
                            - from
                            - to
                            - reason
                            - metadata
                            - createdAt
                            - updatedAt
                          additionalProperties: {}
                    required:
                      - id
                      - originChainId
                      - destinationChainId
                      - tickerHash
                      - amount
                      - slippage
                      - status
                      - createdAt
                      - updatedAt
                    additionalProperties: {}
                required:
                  - operation
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /rebalance/cancel:
    post:
      tags:
        - Earmarks
      summary: Cancel earmark
      description: Cancels an earmark and marks pending/awaiting_callback operations
        as orphaned.
      operationId: cancelEarmark
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                earmarkId:
                  type: string
                  format: uuid
                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
              required:
                - earmarkId
              additionalProperties: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  earmark:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                      invoiceId:
                        type: string
                      designatedPurchaseChain:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      tickerHash:
                        type: string
                      minAmount:
                        description: Amount (18-decimals string)
                        type: string
                      status:
                        type: string
                        enum:
                          - pending
                          - ready
                          - completed
                          - cancelled
                          - failed
                          - expired
                      createdAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      updatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    required:
                      - id
                      - invoiceId
                      - designatedPurchaseChain
                      - tickerHash
                      - minAmount
                      - status
                      - createdAt
                      - updatedAt
                    additionalProperties: false
                required:
                  - message
                  - earmark
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /rebalance/operation/cancel:
    post:
      tags:
        - Rebalance Operations
      summary: Cancel rebalance operation
      description: Cancels a pending rebalance operation (pending or awaiting_callback).
      operationId: cancelRebalanceOperation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operationId:
                  type: string
                  format: uuid
                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
              required:
                - operationId
              additionalProperties: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  operation:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                      earmarkId:
                        anyOf:
                          - type: string
                            format: uuid
                            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                          - type: "null"
                      originChainId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      destinationChainId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      tickerHash:
                        type: string
                      amount:
                        description: Amount (18-decimals string)
                        type: string
                      slippage:
                        description: Basis points
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      bridge:
                        anyOf:
                          - type: string
                          - type: "null"
                      status:
                        type: string
                        enum:
                          - pending
                          - awaiting_callback
                          - completed
                          - expired
                          - cancelled
                      recipient:
                        anyOf:
                          - type: string
                          - type: "null"
                      isOrphaned:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      updatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      transactions:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                              pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                            rebalanceOperationId:
                              anyOf:
                                - type: string
                                  format: uuid
                                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                                - type: "null"
                            transactionHash:
                              type: string
                            chainId:
                              type: string
                            cumulativeGasUsed:
                              type: string
                            effectiveGasPrice:
                              type: string
                            from:
                              type: string
                            to:
                              type: string
                            reason:
                              type: string
                            metadata:
                              type: object
                              propertyNames:
                                type: string
                              additionalProperties: {}
                            createdAt:
                              type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            updatedAt:
                              type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          required:
                            - id
                            - transactionHash
                            - chainId
                            - cumulativeGasUsed
                            - effectiveGasPrice
                            - from
                            - to
                            - reason
                            - metadata
                            - createdAt
                            - updatedAt
                          additionalProperties: {}
                    required:
                      - id
                      - originChainId
                      - destinationChainId
                      - tickerHash
                      - amount
                      - slippage
                      - status
                      - createdAt
                      - updatedAt
                    additionalProperties: {}
                required:
                  - message
                  - operation
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /trigger/send:
    post:
      tags:
        - Trigger Operations
      summary: Trigger token send
      description: Submits an ERC20 transfer transaction from Mark ownAddress to a
        whitelisted recipient.
      operationId: triggerSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chainId:
                  description: Chain ID
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                asset:
                  description: Token identifier as expected by Mark config (e.g. tickerHash or
                    symbol)
                  type: string
                recipient:
                  description: Recipient address
                  type: string
                amount:
                  description: Amount in native units as a bigint string
                  type: string
                  pattern: ^\d+$
                memo:
                  type: string
              required:
                - chainId
                - asset
                - recipient
                - amount
              additionalProperties: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  transactionHash:
                    type: string
                  chainId:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  asset:
                    type: string
                  recipient:
                    type: string
                  amount:
                    type: string
                  memo:
                    type: string
                required:
                  - message
                  - transactionHash
                  - chainId
                  - asset
                  - recipient
                  - amount
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /trigger/rebalance:
    post:
      tags:
        - Trigger Operations
      summary: Trigger rebalance operation
      description: Builds and submits rebalance transactions via the selected bridge
        adapter and records the operation.
      operationId: triggerRebalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                originChain:
                  description: Chain ID
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                destinationChain:
                  description: Chain ID
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                asset:
                  description: Token identifier as expected by Mark config (e.g. tickerHash or
                    symbol)
                  type: string
                amount:
                  description: Human-readable amount (18-decimals string)
                  type: string
                  pattern: ^\d+(\.\d+)?$
                bridge:
                  description: Bridge adapter type
                  type: string
                slippage:
                  description: Basis points (e.g. 500 = 5%)
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                earmarkId:
                  description: Optional earmark ID to attach this operation to
                  type: string
                  format: uuid
                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
              required:
                - originChain
                - destinationChain
                - asset
                - amount
                - bridge
              additionalProperties: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  operation:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$
                      originChain:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      destinationChain:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      asset:
                        type: string
                      ticker:
                        type: string
                      amount:
                        description: Human-readable amount (18-decimals string)
                        type: string
                      bridge:
                        type: string
                      status:
                        type: string
                        enum:
                          - pending
                          - awaiting_callback
                          - completed
                          - expired
                          - cancelled
                      transactionHashes:
                        type: array
                        items:
                          type: string
                    required:
                      - id
                      - originChain
                      - destinationChain
                      - asset
                      - ticker
                      - amount
                      - bridge
                      - status
                      - transactionHashes
                    additionalProperties: false
                required:
                  - message
                  - operation
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /trigger/intent:
    post:
      tags:
        - Trigger Operations
      summary: Trigger Everclear intent
      description: "Creates and submits an Everclear intent transaction. Safety
        constraints enforced: maxFee=0 and callData=0x."
      operationId: triggerIntent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                origin:
                  description: Origin chain ID
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                destinations:
                  description: Destination chain IDs
                  minItems: 1
                  type: array
                  items:
                    description: Chain ID
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                to:
                  description: Receiver address (must be Mark ownAddress)
                  type: string
                inputAsset:
                  description: Token address on origin chain
                  type: string
                amount:
                  description: Amount in native units
                  anyOf:
                    - type: string
                      pattern: ^\d+$
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                maxFee:
                  description: Max fee (must be 0 for safety)
                  anyOf:
                    - type: string
                      pattern: ^\d+$
                    - type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                callData:
                  description: Must be 0x for safety
                  type: string
                  pattern: ^0x[0-9a-fA-F]*$
                user:
                  description: SVM-only user public key
                  type: string
              required:
                - origin
                - destinations
                - to
                - inputAsset
                - amount
                - maxFee
              additionalProperties: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  transactionHash:
                    type: string
                  intentId:
                    type: string
                  chainId:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  blockNumber:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                required:
                  - message
                  - transactionHash
                  - chainId
                  - blockNumber
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
  /trigger/swap:
    post:
      tags:
        - Trigger Operations
      summary: Trigger swap
      description: Executes a same-chain swap via a supported adapter (defaults to cowswap).
      operationId: triggerSwap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chainId:
                  description: Chain ID
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                inputAsset:
                  description: TickerHash, symbol, or address
                  type: string
                outputAsset:
                  description: TickerHash, symbol, or address
                  type: string
                amount:
                  description: Human-readable amount (18-decimals string)
                  type: string
                  pattern: ^\d+(\.\d+)?$
                slippage:
                  description: Basis points (e.g. 500 = 5%)
                  type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                swapAdapter:
                  description: Swap adapter name (defaults to cowswap)
                  type: string
                recipient:
                  description: Recipient address (defaults to Mark ownAddress)
                  type: string
              required:
                - chainId
                - inputAsset
                - outputAsset
                - amount
              additionalProperties: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  swap:
                    type: object
                    properties:
                      orderUid:
                        type: string
                      chainId:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      inputAsset:
                        type: string
                      outputAsset:
                        type: string
                      inputTicker:
                        type: string
                      outputTicker:
                        type: string
                      sellAmount:
                        type: string
                      buyAmount:
                        type: string
                      executedSellAmount:
                        type: string
                      executedBuyAmount:
                        type: string
                      slippage:
                        description: Actual slippage in BPS, when available
                        type: string
                      status:
                        description: Optional status (e.g. pending_settlement)
                        type: string
                      note:
                        type: string
                    required:
                      - orderUid
                      - chainId
                      - inputAsset
                      - outputAsset
                      - inputTicker
                      - outputTicker
                      - sellAmount
                      - buyAmount
                    additionalProperties: {}
                required:
                  - message
                  - swap
                additionalProperties: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden response
                type: object
                properties:
                  message:
                    type: string
                  recipient:
                    type: string
                required:
                  - message
                additionalProperties: {}
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Generic error response
                type: object
                properties:
                  message:
                    description: Human-readable error message
                    type: string
                  error:
                    description: Optional error details
                    anyOf:
                      - type: string
                      - type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                required:
                  - message
                additionalProperties: {}
